<script type="text/javascript">

    function BeginRSVP() {
        var input = document.getElementById('rsvp_code');
        window.location = '/rsvp/' + input.value;
    }

    function checkSubmit(e)
    {
        if(e && e.keyCode == 13)
        {
            BeginRSVP();
        }
    }

    $(document).ready(function() {
        $("input#rsvp_code").val('');
        $("input#rsvp_code").keypress(checkSubmit);
    });

</script>

<h2>Please enter your RSVP Code</h2>
Your RSVP code should have been included with your invitation.<br />
<br />
You will be asked to input the number of adult and child guests in the next step.<br />
<br/>
RSVP Code:
<br />
<input id="rsvp_code" placeholder="Input RSVP Code" />  <img id="status" src="<%= image_path("minus_small.png") %>"> <label id="status_text">Invalid RSVP Code</label>
<br/>

<input id="submit" type=button onclick="BeginRSVP()" value='Begin' disabled=true>

<script type="text/javascript">
    var input = document.getElementById('rsvp_code');
    var button = document.getElementById('submit');
    var img = document.getElementById('status');
    var status = document.getElementById('status_text');

    function updateState(data) {
        button.disabled = !data;
        document.getElementById('status_text').innerHTML = data ? "RSVP Code Found" : "Invalid RSVP Code";
        img.src = data ? '<%= image_path("plus_small.png") %>' : '<%= image_path("minus_small.png") %>';
    }

    input.onchange = input.onkeyup = function () {
        if (input.value.length > 0) {
            $.ajax({
                url:'/validate/' + input.value + '.json',
                dataType:'json'
            }).done(updateState);
        }
        else
        {
            updateState(false);
        }
    };
</script>

