<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Theberge Stone Wedding RSVP Confirmation</title>
</head>

<body style="background-color: #eaecee; color: #252a32; background-image: url('http://www.thebergestonewedding.com/uploads/background.png'); background-repeat: repeat; font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;">
<div align="center">
  <br />

  <!--General Text Module-->
  <div style="background-color: #ffffff; border: 1px solid #ccc; background-repeat: no-repeat; width: 580px;  padding: 30px; margin-bottom: 20px;">
    <div style="width: 580px; height: 140px; padding: 0; margin: 0px 0 20px 0;">
      <table width="580" height="140" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left"><img src="http://www.thebergestonewedding.com/uploads/logo_small.png"></td>
        </tr>
      </table>
    </div>
    <div align="left">
        <%= yield %>
    </div>
  </div>

  <div style="background-color: #ffffff; border: 1px solid #ccc; background-repeat: no-repeat; width: 580px;  padding: 30px; margin-bottom: 20px;">
    <div align="left">
      <!--Divider-->
      <div align="left">
        <h2 style="font-size: 21px; font-weight: bold; color: #252a32; margin: 0px 0 10px 0;">Links</h2>
        <ul style="font-size: 14px; color: #595d63; margin:0 0 5px 0; line-height: 19px; list-style-image: url('http://thebergestonewedding.com/uploads/checkmark.png'); line-height: 33px; padding-left: 40px;">
          <li>Update your RSVP by clicking <a href="">here</a>.</li>
          <li>Get information and directions about the reception <a href="http://www.thebergestonewedding.com/ceremony-and-reception">here</a>.</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--Footer-->
<p style="font-size: 12px; color: #7e8897; margin:25px 0 0 0; line-height: 19px; text-align: center;">We sent you this email because you signed up to receive an email confirmation.<br>
  <br>
  Chris & Heather © 2013
</p>
<br>

</body>
</html>